[Unit]
Description=Subscription DB monitor service
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pasar monitor-db
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
