PASAR_PANEL_HOST='https://127.0.0.1'
PASAR_PANEL_PORT='8000'
PASAR_API_KEY=''
SHLINK_API_BASE=''
SHLINK_API_KEY=''
SHORT_DOMAIN=''
SUB_BASE_URL=''
SUB_MAP_FILE=''
TG_BOT_TOKEN=''
TG_CHAT_ID=''
TG_THREAD_ID=''
