PASAR_PANEL_HOST='https://127.0.0.1'
PASAR_PANEL_PORT='8000'
PASAR_API_KEY=''
SHLINK_API_BASE=''
SHLINK_API_KEY=''
SHORT_DOMAIN=''
SUB_BASE_URL=''
SUB_MAP_FILE=''
TG_BOT_TOKEN=''
TG_CHAT_ID=''
TG_THREAD_ID=''
PASARGUARD_DB_PATH='/var/lib/pasarguard/db.sqlite3'
SUB_NOTIFY_POLL_SECONDS='15'
SUB_NOTIFY_STATE_FILE='/var/lib/pasar-eazylink/sub-notify.state'
SUB_NOTIFY_USER_STATUS=''
EAZYLINK_WRITE_LEGACY_MAPPING='false'
